@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  --color-primary: #0a8276;
  --color-primary-dark: #065e55;
  --color-accent: #0fa396;
  --color-ink: #0f2a26;
  --color-muted: #5a6b7a;
  --color-line: #cdefe9;

  --color-success: #2e9e6b;
  --color-warning: #d9a441;
  --color-error: #c1503f;
  --color-info: #3a7ca5;
}
