@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  --color-primary: #0a8276;

  --color-success: #2e9e6b;
  --color-warning: #d9a441;
  --color-error: #c1503f;
  --color-info: #3a7ca5;
}
